<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs')%>

    <div class="container">
        <div class="main">
            <div class="main-categories">
                <h3>Жанры</h3>
                <%genres.forEach(genre =>{ 
                    %>
                    <a href="/<%=genre.key%>"><%=genre.name%></a>
                    <%})%>
            </div>
            <div class="main-content">
                <h3>Профиль</h3>
                <div class="profile">
                    <div class="profile-img">
                        <img src="/images/profile-img.jpg" alt="">
                    </div>
                    <div class="profile-info">
                        <p> <span>Полное имя: </span> <%=user.full_name%></p>
                        <p> <span>E-mail: </span> <%=user.email%></p>
                        <a class="profile-info-editButton">Редактировать профиль</a>
                        <a href='/api/signout' class="profile-info-exitButton">Выход</a>
                    </div>
                </div>
                <h3>Фиьлмы</h3>
                <a href='/new' class="add-button">Добавить фильм</a>
                <%
                films.forEach(item=>{ 
                %>
                <div class="main-card">
                    <div class="main-card-left">
                        <div class="main-film-img">
                            <img src="<%=item.image%>" alt="">
                        </div>
                        <div class="main-film-info">
                            <a href=""><%=item.titleRus%></a>
                            <a href=""><%=item.titleEng%>, <%=item.year%> , <%=item.time%> мин</a>
                            <a href=""><%=item.country.name%>, <%=item.genre.name%> </a>
                            <a href="">Автор : <%=item.author.full_name%></a>
                            <button class="main-card-info-button">
                                <img src="/images/icons/play.svg" alt="">
                                Смотреть
                            </button>
                        </div>
                    </div>
                    <div class="main-card-right">
                        <div class="main-card-right-rate">
                            <p>7.3</p>
                        </div>
                        <div class="main-film-buttons">
                            <a href="/edit/<%=item._id%>"> 
                                Редактировать
                            </a>
                            <a onclick="deleteFilm('<%=item._id%>' , '<%=item.author._id%>')"> 
                                Удалить
                            </a>
                        </div>
                    </div>
                </div>
                <%
                    })
                %>
            </div>
        </div>
    </div>
    <%- include('partials/scripts.ejs');%> 
</body>
</html>